/* Global Styles */


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');


@font-face {
    font-family: 'Ubuntu-Title';
    src: url('Ubuntu-Title.woff2') format('woff2'),
        url('Ubuntu-Title.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Ubuntu-Title';
    src: url('Ubuntu-Title.woff2') format('woff2'),
        url('Ubuntu-Title.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Heorot';
    src: url('Heorot.woff2') format('woff2'),
        url('Heorot.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Dalek';
    src: url('Dalek.woff2') format('woff2'),
        url('Dalek.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Nautica Rounded';
    src: url('NauticaRounded-Bold.woff2') format('woff2'),
        url('NauticaRounded-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AvenueX';
    src: url('AvenueX-Regular.woff2') format('woff2'),
        url('AvenueX-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'moderna';
    src: url('Moderna.woff2') format('woff2'),
        url('Moderna.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #004B49;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Header Styles */
header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 2em;
    color: white;
    pointer-events: none;
    margin-right: 200px;
}

.logoimg {
    width: 100px;
    height: 80px;
}

.navigation a {
    text-decoration: none;
    color: white;
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 0.5px;
    padding: 0 10px;
    position: relative;
    
}

.navigation a:after {
    content: "";
    position: absolute;
    background: #ff3c78;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}

.navigation a:hover:after,
.navigation a.active:after {
    width: 100%;
}

/* Innovation Page Styles */
.innovation-section {

    margin: 40px auto;
    text-align: center;
    color: white;
    
}

.innovation-section .times-header {
    font-family: Moderna;
    font-size: 34px;
    margin-bottom: 20px;
    margin-top: 150px;
}

.innovation-section .times-para {
    font-family: Nautica Rounded;
    font-size: 27px;
    margin-top: 10px;
    margin-left: 60px;
    margin-right: 60px;
    
}
.innovation-para{
    font-family: Nautica Rounded;
    font-size: 27px;
    margin-left: 60px;
    margin-right: 60px;
    
}


/* Styles for Innovation Images */
.innovation-images {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.innovation-image {
    width: 150px; /* Adjust the width as needed */
    height: auto;
    border-radius: 10px; /* Add rounded border */
    margin: 10px;
    border: 2px solid #FF3C78; /* Border color for images */
}

@font-face {
    font-family: 'Heorot';
    src: url('Heorot.woff2') format('woff2'),
        url('Heorot.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Dalek';
    src: url('Dalek.woff2') format('woff2'),
        url('Dalek.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Dyonisius';
    src: url('Dyonisius.woff2') format('woff2'),
        url('Dyonisius.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

#text{
    font-family: Dalek;
    position:absolute;
    font-size:4em;
    color:#ff3f6f;

    text-shadow: 2px 2px 4px rgba(0,0,0,0.2);
    text-decoration: none;
    font-weight: 600;
    transition:0.3s;

    
}
#text {
    text-align: center;
    margin-top: 100px; /* Adjust the margin to move it down */
    position: relative;
    margin-bottom: 50px;
    z-index: 3;
}

#text::after {
    content: '';
    width: 0;
    height: 4px;
    background-color: #003329;
    margin: auto;
    display: block;
    position: absolute;
    bottom: -10px; /* Adjust the distance from the text */
    left: 50%; /* Center the line */
    transform: translateX(-50%); /* Center the line */
}

#text:hover::after {
    width: 100%;
    transition: width 0.3s linear;
}

#text:hover {
    font-size: 4.5em;
    color: #89f1d0;
    transition: 0.2s;
}
p{
    font-family: Nautica Rounded;
}


.lines {
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    margin: auto;
    width: 90vw; }
  
  .line {
    position: absolute;
    width: 1px;
    height: 100%;
    top: 0;
    left: 50%;
    background: rgba(255, 255, 255, 0.1);
    overflow: hidden; }
    .line::after {
      content: '';
      display: block;
      position: absolute;
      height: 15vh;
      width: 100%;
      top: -50%;
      left: 0;
      background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #ffffff 75%, #ffffff 100%);
      animation: drop 7s 0s infinite;
      animation-fill-mode: forwards;
      animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97); }
    .line:nth-child(1) {
      margin-left: -25%; }
      .line:nth-child(1)::after {
        animation-delay: 2s; }
    .line:nth-child(3) {
      margin-left: 25%; }
      .line:nth-child(3)::after {
        animation-delay: 2.5s; }
  
  @keyframes drop {
    0% {
      top: -50%; }
    100% {
      top: 110%; } }
  






.times-header{
    color: #B19470;
    
        
}
    

.times-para, .innovation-para{
    font-family: Nautica Rounded;
    text-transform: capitalize;
}

